!/.gitignore

# Игнорировать все .pyc файлы:
**/*.pyc

# Игнорировать все файлы в каталоге __pycache__:
**/__pycache__

# Игнорировать все виртуального окружения:
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Игнорировать все файлы .json, где могут храниться данные бота:
**/*.json

# Игнорировать все файлы .sqlite, где могут храниться данные бота:
**/*.sqlite

# Игнорировать логи бота:
**/logs/

# Игнорировать .DS_Store файлы:
.DS_Store
